/*///////////////////////////////////////////media Queries///////////////////////////////////////////*/
@media only screen and (min-width: 320px) {
    /*///////////////////////////////////////////main///////////////////////////////////////////*/
    h3.about_title .abt_title_img {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: -50px;
      width: 15%;
      height: auto;
    }
    div.common_wrapper2.sp .footer_contact_wrapper_sp.sp a .btn_contact {
      width: 70%;
      vertical-align: bottom;
      position: absolute;
      top: 24%;
      left: 2%;
    }
    div.common_wrapper2.sp .footer_contact_wrapper_sp.sp a .btn_tel {
      width: 70%;
      vertical-align: bottom;
      position: absolute;
      top: 70%;
      left: 2%;
    }
    .pc {
      display: none !important;
    }
  
    .agreement_wrapper{
      width: 100% !important;
      display: block;
      float: none !important;
      margin: 0 auto;
      clear: both !important;
    }
  
    .sp_padding_left{
      padding-left: 2vw !important;;
    }

    .form-entry  td{
      display: block;
    }
    
    .form_td_width_1{
      width: 100% !important;
      background-color: #F2F2F2;
    }

    .form_td_width_2{
      width: 100% !important;
      background-color: #ffffff;
    } 
  }
  
  /*///////////////////////////////////////////media Queries///////////////////////////////////////////*/
  @media only screen and (min-width: 479px) {
    /*///////////////////////////////////////////main///////////////////////////////////////////*/
    h3.about_title .abt_title_img {
      position: absolute;
      margin-left: 0;
      margin-right: 0;
      width: 20%;
      left: -80px;
      top: -25px;
    }
    .width_70 {
      width: 70% !important;
    }
    .width_30 {
      width: 30% !important;
    }
    .pc {
      display: block !important;
    }
    /*///////////////////////////////////////////  Privacy Page  ///////////////////////////////////////////*/
    h2.view_tabsp {
      margin-top: 19vw;
    }
  }
  
  /*///////////////////////////////////////////media Queries///////////////////////////////////////////*/
  @media only screen and (min-width: 1000px) {
    /*///////////////////////////////////////////main///////////////////////////////////////////*/
    h3.about_title .abt_title_img {
      position: absolute;
      margin-left: 0;
      margin-right: 0;
      left: -80px;
      top: -25px;
      width: 120px;
    }
    .width_70 {
      width: 70% !important;
    }
    .width_30 {
      width: 30% !important;
    }
    .pc {
      display: block !important;
    }
  
    .form_padding{
      padding-left: 3vw !important;
      padding-right: 3vw !important;
    }
  
    .sp_padding_left{
      padding-left: 0 !important;;
    }

    .form-entry  td{
      display: table-cell;
    }
    
    .form_td_width_1{
      width: 35% !important;
      background-color: #F2F2F2;
    }

    .form_td_width_2{
      width: 65% !important;
      background-color: #ffffff;
    }
  }
  
  
  @media only screen and (min-width: 1050px) {
    .agreement_wrapper{
      width: 65% !important;
      display: block;
      float: none !important;
      margin: 0 auto;
      clear: both !important;
    }
  }


#backtotop {
  cursor:pointer;  
  width: 56px;
  position:fixed;
  bottom: 5vw;
  right: 5vw;
}
#backtotop i {
  display:block;
  height: 56px;
  background: url(../img/tire.png) no-repeat center bottom;
  background-size: cover !important;
}
#backtotop.ft p {
  color: #fff;
}
#backtotop.ft i {
  background: url(../img/tire.png) no-repeat center bottom;
  /* background: url(../img/white_tire.png) no-repeat center bottom; */
}

#backtotop img{
  position: absolute;
  top: 1.7vw;
  right: -2.5vw;
  width: 2.149vw;
  height: 2.539vw;
}

.wrapper {
  margin-right: auto;
  width: 13.464vw;
  height: 3.581vw;
  position: relative;
  /* top:50%;
  left:50%;
  margin-left:-200px;
  margin-top:-50px; */
}

.wrapper a {
  position: relative;
  background: #f5f5f5;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid #475160;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  transition:0.1s all ease-in;
  display: flex;
  align-items: center;
  padding-bottom: 0.2vw;
}
.wrapper a span{
  display: block;
  margin: auto;
  width: 0.931vw;
  height: 1.2891vw;
  /* width: 13px;
  height: 18px; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}

.wrapper a span span{
  background: url(../img/arrow.png);
  display: block;
  margin: auto;
  width: 0.931vw;
  height: 1.2891vw;
  /* width: 13px;
  height: 18px; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.8vw;
  opacity: 1;
}

.wrapper a .arrow:before {
  content:"";
  background: url(../img/arrow.png);
  display: block;
  margin: auto;
  width: 0.931vw;
  height: 1.2891vw;
  /* width: 13px;
  height: 18px; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5vw;
  opacity: 0.5;
}

.wrapper a .arrow:after {
  content:"";
  background: url(../img/arrow.png);
  display: block;
  margin: auto;
  width: 0.931vw;
  height: 1.2891vw;
  /* width: 13px;
  height: 18px; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2.3vw;
  opacity: 0.3;
}

.wrapper a:hover .arrow:before{
  animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.wrapper a:hover .arrow:after{
  animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}

.wrapper a:hover .arrow span{
  animation: animate-arrow-1 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
  0%{transform:translateX(-40px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 1;}
}
@keyframes animate-arrow-2 {
  0%{transform:translateX(-20px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.5;}
}
@keyframes animate-arrow-3 {
  0%{transform:translateX(-10px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.3;}
}

.recruitement_btn:hover{
  background-color: dodgerblue;
  color: #ffffff !important;
  box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.3);
  /* cursor: pointer; */
  border: none !important;
  transition: all 0.3s;
}

.recruitement_btn:hover a{
  color: #ffffff !important;
  font-weight: 600; 
}

.foot_nav li::before{
  content: url('../img/bullet_disc.png');
  color: #475160 !important;
  font-weight: bold;
  display: inline-block; 
  width: 0.8em;
  margin-left: -1em;
  position: relative;
  top: -0.25vw;
}

@media only screen and (max-width: 1050px){
  /* .wrapper {
    margin-right: 0;
    width: 28vw;
    height: 8vw;
    position: relative;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-50px;
  }

  .wrapper a span span, .wrapper a .arrow::before, .wrapper a .arrow:after{
    width: 2vw;
    height: 2.28vw;
  }

  .wrapper a span span{
    animation: none;
    right: 1.3vw;
  }

  .wrapper a .arrow:before{
    animation: none;
    right: 3.3vw;
  }
  
  .wrapper a .arrow:after{
    animation: none;
    right: 5.3vw;
  } */
  
  .foot_nav li::before{
    margin-left: -0.2em;
  } 

  #backtotop{
    bottom: 2.7vw;
    right: 8.3vw;
  }

  #backtotop img{
    top: 4vw;
    right: -5vw;
    width: 4.284vw;
    height: 4.673vw;
  }
}

@media only screen and (max-width: 770px){
  /* .wrapper {
    margin-right: 0;
    width: 28vw;
    height: 8vw;
    position: relative;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-50px; 
  }

  .wrapper a{
    border: 4px solid #475160;
  }

  .wrapper a span span, .wrapper a .arrow::before, .wrapper a .arrow:after{
    width: 2vw;
    height: 2.28vw;
  }

  .wrapper a span span{
    animation: none;
    right: -0.2vw;
  }

  .wrapper a .arrow:before{
    animation: none;
  }
  
  .wrapper a .arrow:after{
    animation: none;
    right: 3.3vw;
  } */

  .foot_nav li::before{
    margin-left: -0.2em;
  }

  #backtotop i{
    height: 7.5vw;
    width: 7.5vw;
  }

  #backtotop img{
    top: 5.2vw;
    right: -5.5vw;
  }
}


@media only screen and (max-width: 736px){
  #backtotop i{
    height: 7.5vw;
    display: inline-block;
  }
}

@media only screen and (max-width: 668px){
  #backtotop img {
    top: 5.2vw;
    right: -4.5vw;
    height: 5.359vw;
  }
}

@media only screen and (max-width: 568px){
}

/* Mobile Dot */
@media only screen and (max-width: 480px){
  #backtotop i{
    height: 8.5vw;
    width: 8.5vw;
    display: inline-block;
  }

  #backtotop img{
    top: 5.5vw;
    right: -4vw;
  }

  .foot_nav li::before{
    width: 0.5em;
  }
}

@media only screen and (max-width: 375px){
  #backtotop i{
    height: 10vw;
    width: 10vw;
    display: inline-block;
  }

  #backtotop img{
    top: 5.5vw;
    right: -4vw;
    height: 6.9vw;
    width: 5.3vw;
  }
}

@media only screen and (max-width: 320px){
  #backtotop img{
    right: -3vw;
  }
}
